
.card_lists {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
  
  padding: 4rem 0;
  
  list-style: none;
}

// *----------------------------Section FEATURE-------------------------

.feature_list {
  width: calc((70%) / 4);
}

// *------------------------Section OUR working-------------------------

.card_list {
  width: calc((72%) / 3);
}

// *--------------------------Section TEAM-------------------------

.list_item {
  width: calc(70% / 4);
  background-color: $white;

  text-align: center;

  border-radius: 0rem 0rem 0.25rem 0.25rem;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  padding-bottom: 1rem;
}

.social_lists {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;

  list-style: none;
}

.social_list {
  border-radius: 50%;
  padding: 6px;
  transition: all 0.3s;

  &:hover {
    background-color: $blue;
  }
}

// *--------------------------Section Client-------------------------

.client_lists {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 1.3rem;
  align-items: center;
  
  list-style: none;
  padding: 0;
  padding-bottom: 6rem;
}

.client_list {
  width: calc(70% / 6);

  text-align: center;

  border-radius: 0.25rem;
  border: 1px solid $gray-blue;

  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    border-color: $blue;
  }
}