$black: #000000;
$blue: #2196f3;
$dark-gray: #212121;
$gray: #757575;
$light-gray-blue: #f5f4fa;
$white: #ffffff;
$dark-blue: #00000026;
$dark-gray-blue: #2F303A;
$dark-gray-blue-op:#2F303ACC;
$gray-blue: #afb1b8;

$ff-Roboto: "Roboto", sans-serif;
